<div class="row mb-5">
  <div class="col-lg-12 mt-lg-0 mt-4">
    <div class="card mt-4" id="basic-info">
      <div class="card-header">
        <h5>
          Información básica Sede
        </h5>
      </div>
      <div class="card-body pt-0">
        <form #formupdatesede="ngForm" role="form">
          <div class="row">
            <div class="col-12 col-md-4">
              <label class="form-label">
                Nombre
              </label>
              <div class="input-group">
                <input id="firstName" name="Nombre" required [(ngModel)]="sede.Nombre" autofocus
                tabindex="1" class="form-control" type="text" placeholder="Nombre">
              </div>
            </div>
            <div class="col-12 col-md-4">
              <label class="form-label">
                Direccion
              </label>
              <div class="input-group">
                <input id="lastName" name="Direccion" required [(ngModel)]="sede.Direccion"
                tabindex="2" class="form-control" type="text" placeholder="Direccion"
                  required="required">
              </div>
            </div>
            <div class="col-12 col-md-4">
              <label class="form-label">
                Celular
              </label>
              <div class="input-group">
                <input id="lastName" name="Celular" required [(ngModel)]="sede.Celular"
                tabindex="3" class="form-control" type="text" placeholder="Celular"
                  required="required">
              </div>
            </div>
            <div class="col-12 col-md-4">
              <label class="form-label">
                Correo
              </label>
              <div class="input-group">
                <input id="lastName" name="Correo" required [(ngModel)]="sede.Correo"
                tabindex="3" class="form-control" type="text" placeholder="Correo"
                  required="required">
              </div>
            </div>
            <div class="col-12 col-md-4">
              <label class="form-label">
                TipoSede
              </label>
              <div class="input-group">
                <select (change)='ontiposedeSelected($event)'
                  id="select-type-basic"
                  class="form-control"
                  [(ngModel)]="sede.TipoSede"
                  name="TipoSede" required tabindex="5">
                  <option class="text-success" selected value="">
                    Seleccionar Tipo Sede
                  </option>
                  <option class="text-success" [value]="obj.Nombre" *ngFor="let obj of tiposedes">
                  {{obj.Nombre}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <button
          (click)="volver()"
           class="btn bg-gradient-primary btn-sm float-start mt-6 mb-0">
            Cancelar
          </button>
          <button
          (click)="updatesede()" [disabled]="formupdatesede.form.invalid"
           class="btn bg-gradient-success btn-sm float-end mt-6 mb-0">
            Actualizar sede
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
