<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- Card header -->
      <div class="card-header pb-0">
        <div class="d-lg-flex">
          <div>
            <h5 class="mb-0">
              Todos los Usuarios
            </h5>
          </div>
          <div class="ms-auto my-auto mt-lg-0 mt-4  ">
            <div class="ms-auto my-auto">
              <a [routerLink]="['/dashboard-principal/usuario/creacion']" class="btn bg-gradient-primary btn-sm mb-0">
                +&nbsp; Nuevo Usuario
              </a>
              <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1"
                data-type="csv" type="button" name="button">
                Exportar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-0">
        <div class="table-responsive">
          <table class="table table-flush" id="products-list">
            <thead class="thead-light">
              <tr>
                <th>
                  Nombre Completo
                </th>
                <th>
                  Celular
                </th>
                <th>
                  Correo
                </th>
                <th>
                  Documento
                </th>
                <th>
                  Rol
                </th>
                <th>
                  Acciónes
                </th>
              </tr>
            </thead>
            <tbody>
              @for (item of usuarios; track $index) {
                <tr>
                  <td>
                    <div class="d-flex">
                      @if (item. Foto === '') {
                        <img class="w-10 ms-3 rounded-circle" alt="hoodie"
                        src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/adidas-hoodie.jpg" >
                      }
                      @if (item. Foto !== '') {
                        <img class="w-10 ms-3 rounded-circle" alt="hoodie"
                        [src]="item.Foto" >
                      }
                      <h6 class="ms-3 my-auto">
                        {{item.Nombre + ' ' + item.Apellido}}
                      </h6>
                    </div>
                  </td>
                  <td class="text-sm">
                    {{item.Celular}}
                  </td>
                  <td class="text-sm">
                    {{item.Correo}}
                  </td>
                  <td class="text-sm">
                    {{item.NumDoc}}
                  </td>
                  <td>
                    @if (item.Rol === 'god' || item.Rol === 'administrador') {
                      <span class="badge badge-danger badge-sm">
                        {{item.Rol}}
                      </span>
                    }
                    @if (item.Rol === 'docente') {
                      <span class="badge badge-warning badge-sm">
                        {{item.Rol}}
                      </span>
                    }
                    @if (item.Rol === 'estudiante') {
                      <span class="badge badge-primary badge-sm">
                        {{item.Rol}}
                      </span>
                    }
                  </td>
                  <td class="text-sm">
                    @if (item.id > 2) {
                      <a (click)="editar(item.id)" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                        <i class="fas fa-user-edit text-secondary"></i>
                      </a>
                      <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                        <i class="fas fa-key text-secondary"></i>
                      </a>
                    }
                  </td>
                </tr>
              }
              @empty {
                <tr>
                  <td colspan="6">
                    <div class="d-flex justify-content-center">
                      <p class="text-center">
                        Esperando datos...
                      </p>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
            <tfoot>
              <tr>
                <th>
                  Nombre Completo
                </th>
                <th>
                  Celular
                </th>
                <th>
                  Correo
                </th>
                <th>
                  Documento
                </th>
                <th>
                  Rol
                </th>
                <th>
                  Acciónes
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
