<div *ngIf="!baderita" class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
    <div class="card card-plain">
      <div class="card-body px-lg-5 py-lg-5 text-center">
        <form #formVerifycode="ngForm" role="form">
          <div class="text-center text-muted mb-4">
            <h2>
              Verificación de 2 pasos
            </h2>
          </div>
          <div class="row gx-2 gx-sm-3">
            <div class="col-10 m-auto">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg"
                maxlength="1" minlength="1" autocomplete="off"
                autofocus required [(ngModel)]="dato"
                  autocapitalize="off">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-warning w-100"
            (click)="comprobarcodigo(dato)" [disabled]="formVerifycode.form.invalid">
              Validar Codigo
            </button>
            <span class="text-muted text-sm">
              ¿No lo has recibido?
              <a href="javascript:;">
                Vuelva a enviar un nuevo código.
              </a>
              </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
    <div
      class="position-relative bg-gradient-warning h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
      style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/verification-ill.jpg');
background-size: cover;">
      <span class="mask bg-warning opacity-6"></span>
      <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
      <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually
        put into the process.</p>
    </div>
  </div>
</div>
<div *ngIf="baderita" class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
    <div class="card card-plain py-lg-3">
      <div class="card-body text-center">
        <h4 class="mb-0 font-weight-bolder">
          Estimado usuario
        </h4>
        <p class="mb-4">
          Ingrese la nueva contraseña para desbloquear su cuenta.
        </p>
        <form #formUpdatePassword="ngForm" role="form">
          <div class="mb-3">
            <input type="password" class="form-control" autofocus required [(ngModel)]="parametro.contra1"
            tabindex="1" placeholder="Contrasenia" aria-label="password">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="contra2" required [(ngModel)]="parametro.contra2"
            tabindex="2" placeholder="Repetir Contrasenia" aria-label="password">
          </div>
          <div class="text-center">
            <button type="button" (click)="actualizar()" [disabled]="formUpdatePassword.form.invalid" class="btn btn-lg w-100 btn-dark mb-0">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
    <div
      class="position-relative bg-gradient-dark h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
      style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/lock-ill.jpg');
background-size: cover;">
      <span class="mask bg-dark opacity-6"></span>
      <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
      <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually
        put into the process.</p>
    </div>
  </div>
</div>
