<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
    <div class="card card-plain">
      <div class="card-header pb-0 text-center">
        <h4 class="font-weight-bolder">
          Restablecer la contraseña
        </h4>
        <p class="mb-0">
          Recibirás un correo electrónico en máximo 60 segundos.
        </p>
      </div>
      <div class="card-body">
        <form #formRecover="ngForm" role="form">
          <div class="mb-3">
            <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Email" placeholder="Email" aria-label="Email"
            name="usuario" required [(ngModel)]="dato" autofocus
            tabindex="1" placeholder="ejemplo@hospitalelcarmen.com o 546456465">
          </div>
          <!-- <div class="mb-3">
            <input type="text" class="form-control form-control-lg" placeholder="Verification Code" aria-label="code">
          </div> -->
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg w-100 my-4" (click)="enviarmensaje(dato)" [disabled]="formRecover.form.invalid">
              Enviar por Whatsapp
            </button>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg w-100 my-4" (click)="enviarcorreo(dato)" [disabled]="formRecover.form.invalid">
              Enviar por Correo
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
    <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/reset-ill.jpg');
background-size: cover;">
      <span class="mask bg-dark opacity-6"></span>
      <h4 class="mt-5 text-white font-weight-bolder position-relative">Argon Design</h4>
      <p class="text-white position-relative">Just as it takes a company to sustain a product, it takes a community to sustain a protocol.</p>
    </div>
  </div>
</div>
