<div class="row mb-5">
  <div class="col-lg-12 mt-lg-0 mt-4">
    <div class="card mt-4" id="basic-info">
      <div class="card-header">
        <h5>
          Información básica
        </h5>
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-12 col-md-6">
            <label class="form-label">
              Nombres
            </label>
            <div class="input-group">
              <input id="firstName" name="firstName" class="form-control" type="text" placeholder="Alec"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">
              Apellidos
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-label">
              Tipo Documento
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-label">
              Nro Documento
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-label">
              Celular
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">
              Correo
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-3">
            <label class="form-label">
              Genero
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
          <div class="col-12 col-md-3">
            <label class="form-label">
              Rol
            </label>
            <div class="input-group">
              <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson"
                required="required">
            </div>
          </div>
        </div>
        <button class="btn bg-gradient-success btn-sm float-end mt-6 mb-0">
          Actualizar Informacion
        </button>
      </div>
    </div>
    <div class="card mt-4" id="password">
      <div class="card-header">
        <h5>
          Cambiar la contraseña
        </h5>
      </div>
      <div class="card-body pt-0">
        <label class="form-label">
          Contraseña actual
        </label>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Current password">
        </div>
        <label class="form-label">
          Nueva contraseña
        </label>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="New password">
        </div>
        <label class="form-label">
          Confirmar nueva contraseña
        </label>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Confirm password">
        </div>
        <h5 class="mt-5">
          Requisitos de contraseña
        </h5>
        <p class="text-muted mb-2">
          Siga esta guía para obtener una contraseña segura:
        </p>
        <ul class="text-muted ps-4 mb-0 float-start">
          <li>
            <span class="text-sm">
              Uno de los caracteres especiales
            </span>
          </li>
          <li>
            <span class="text-sm">
              Mínimo 6 carácteres
            </span>
          </li>
          <li>
            <span class="text-sm">
              Un número (se recomiendan 2)
            </span>
          </li>
          <li>
            <span class="text-sm">
              cámbialo a menudo
            </span>
          </li>
        </ul>
        <button class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">
          Actualizar Contraseña
        </button>
      </div>
    </div>
    <div class="card mt-4" id="2fa">
      <div class="card-header d-flex">
        <h5 class="mb-0">
          Autenticación de dos factores
        </h5>
        <span class="badge badge-success ms-auto">
          Activado
        </span>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="my-auto">
            Claves de seguridad
          </p>
          <p class="text-secondary text-sm ms-auto my-auto me-3">
            Sin claves de seguridad
          </p>
          <button class="btn btn-sm bg-gradient-info mb-0" type="button">
            Agregar
          </button>
          <button class="btn btn-sm bg-gradient-info mb-0" type="button">
            Editar
          </button>
        </div>
        <hr class="horizontal dark">
        <div class="d-flex">
          <p class="my-auto">
            número SMS
          </p>
          <p class="text-secondary text-sm ms-auto my-auto me-3">
            +4012374423
          </p>
          <button class="btn btn-sm bg-gradient-info mb-0" type="button">
            Editar
          </button>
        </div>
        <hr class="horizontal dark">
        <div class="d-flex">
          <p class="my-auto">
            Enviar Correo
          </p>
          <p class="text-secondary text-sm ms-auto my-auto me-3">
            fsadf&#64;fsdf.fadsf
          </p>
          <button class="btn btn-sm bg-gradient-info mb-0" type="button">
            Editar
          </button>
        </div>
        <!-- <hr class="horizontal dark">
        <div class="d-flex">
          <p class="my-auto">
            Aplicación de autenticación
          </p>
          <p class="text-secondary text-sm ms-auto my-auto me-3">
            No configurado
          </p>
          <button class="btn btn-sm btn-outline-dark mb-0" type="button">
            Configuración
          </button>
        </div> -->
      </div>
    </div>
    <!-- <div class="card mt-4" id="sessions">
      <div class="card-header pb-3">
        <h5>
          Sesiones
        </h5>
        <p class="text-sm">
          Esta es una lista de dispositivos que han iniciado sesión en su cuenta. Elimina aquellos que no reconozcas.
        </p>
      </div>
      <div class="card-body pt-0">
        <div class="d-flex align-items-center">
          <div class="text-center w-5">
            <i class="fas fa-desktop text-lg opacity-6"></i>
          </div>
          <div class="my-auto ms-3">
            <div class="h-100">
              <p class="text-sm mb-1">
                Bucharest 68.133.163.201
              </p>
              <p class="mb-0 text-xs">
                Tu sesión actual
              </p>
            </div>
          </div>
          <span class="badge badge-success badge-sm my-auto ms-auto me-3">Active</span>
          <p class="text-secondary text-sm my-auto me-3">EU</p>
          <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">See more
            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <hr class="horizontal dark">
        <div class="d-flex align-items-center">
          <div class="text-center w-5">
            <i class="fas fa-desktop text-lg opacity-6"></i>
          </div>
          <p class="my-auto ms-3">Chrome on macOS</p>
          <p class="text-secondary text-sm ms-auto my-auto me-3">US</p>
          <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">See more
            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <hr class="horizontal dark">
        <div class="d-flex align-items-center">
          <div class="text-center w-5">
            <i class="fas fa-mobile text-lg opacity-6"></i>
          </div>
          <p class="my-auto ms-3">Safari on iPhone</p>
          <p class="text-secondary text-sm ms-auto my-auto me-3">US</p>
          <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">See more
            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div> -->
    <div class="card mt-4" id="delete">
      <div class="card-header">
        <h5>
          Borrar Cuenta
        </h5>
        <p class="text-sm mb-0">
          Una vez que eliminas tu cuenta, no hay vuelta atrás. Por favor esté seguro.
        </p>
      </div>
      <div class="card-body d-sm-flex pt-0">
        <div class="d-flex align-items-center mb-sm-0 mb-4">
          <div>
            <div class="form-check form-switch mb-0">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault0">
            </div>
          </div>
          <div class="ms-2">
            <span class="text-dark font-weight-bold d-block text-sm">
              Confirmar
            </span>
            <span class="text-xs d-block">
              Quiero eliminar mi cuenta.
            </span>
          </div>
        </div>
        <button class="btn btn-outline-secondary mb-0 ms-auto" type="button" name="button">
          Desactivar
        </button>
        <button class="btn bg-gradient-danger mb-0 ms-2" type="button" name="button">
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
